* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #515151;
}
div {
    width: 90%;
    height: 24px;
    line-height: 24px;
    margin: 100px auto;
    border-radius: 2px;
    text-align: center;
    background-color: white;
}